h1,h2,h3,h4,h5,h6,p,label,span,ul,li {
	margin: 0;
	padding: 0;
}

li {
	list-style-type: none;
}

body {
	font-family: 'Source Sans Pro', sans-serif;
	color: #000000;
}

.widget-block {
	max-width: 512px;
	padding: 24px 16px;
	border-radius: 4px;
	border: 1px solid #DDDDDD;
}

.widget-header {
	border-bottom: 1px solid #666666;
	padding-bottom: 16px;
}

.widget-title {
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 5px;
	padding-left: 16px;
	display: flex;
  	justify-content: space-between;
  	align-items: center;
}

.send-email-modal,
.send-friend-email-modal,
.send-feedback-modal {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(25, 42, 62, 0.56);
	display: none;
	align-items: center;
	justify-content: center;
	z-index: 111;
}

.send-email-modal.open,
.send-feedback-modal.open,
.send-friend-email-modal.open {
	display: flex;
}

.send-email-modal__inner,
.send-friend-email-modal__inner,
.send-feedback-modal__inner {
	background-color: white;
  	border-radius: 8px;
  	padding: 20px;
  	position: relative;
  	width: 450px;
}

.ajax-loading {
	width: 180px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: none;
}

.send-email-modal__inner .send-email-after-success,
.send-friend-email-modal__inner .send-friend-email-after-success,
.send-feedback-modal__inner .send-feedback-after-success {
	display: none;
}

.send-email-modal__inner.success .send-email-before-success,
.send-friend-email-modal__inner.success .send-friend-email-before-success,
.send-feedback-modal__inner.success .send-feedback-before-success {
	display: none;
}

.send-email-modal__inner.success .send-email-after-success,
.send-friend-email-modal__inner.success .send-friend-email-after-success,
.send-feedback-modal__inner.success .send-feedback-after-success {
	display: block;
}

.send-email-modal__inner h3,
.send-friend-email-modal__inner h3,
.send-feedback-modal__inner h3 {
  	font-size: 20px;
  	padding-bottom: 15px;
  	display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 1px #F0F0F2;
}

.send-email-modal__inner p,
.send-friend-email-modal__inner p,
.send-feedback-modal__inner p {
	font-size: 16px;
	line-height: 24px;
	padding-top: 15px;
	padding-bottom: 15px;
	font-weight: 400;
}

.send-email-modal__inner h3 span,
.send-friend-email-modal__inner h3 span {
	position: absolute;
  top: 0;
  right: 5px;
  cursor: pointer;
}

.send-email-modal__inner input,
.send-friend-email-modal__inner input {
	background-color: #F8F8F8;
	border: 1px solid #AFAFAF;;
	padding: 10px;
	border-radius: 4px;
	font-size: 16px;
	width: -webkit-fill-available;
	font-weight: 400;
}

.send-friend-email-modal__inner textarea {
	background-color: #F8F8F8;
    border: 1px solid #AFAFAF;
    width: -webkit-fill-available;
    padding: 10px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 400;
    height: 100px;
    margin-top: 16px;
}

.send-email-modal__inner input::-webkit-input-placeholder,
.send-friend-email-modal__inner::-webkit-input-placeholder  { /* Chrome/Opera/Safari */
  	color: #AFAFAF;
  	font-size: 16px;
  	font-weight: 400;
}
.send-email-modal__inner input::-moz-placeholder,
.send-friend-email-modal__inner::-moz-placeholder { /* Firefox 19+ */
  	color: #AFAFAF;
  	font-size: 16px;
  	font-weight: 400;
}
.send-email-modal__inner input:-ms-input-placeholder,
.send-friend-email-modal__inner:-ms-input-placeholder { /* IE 10+ */
  	color: #AFAFAF;
  	font-size: 16px;
  	font-weight: 400;
}
.send-email-modal__inner input:-moz-placeholder,
.send-friend-email-modal__inner:-moz-placeholder { /* Firefox 18- */
  	color: #AFAFAF;
  	font-size: 16px;
  	font-weight: 400;
}

.send-email-modal__inner .email-validation-error,
.send-email-modal__inner .email-empty-error,
.send-friend-email-modal__inner .friend-email-validation-error,
.send-friend-email-modal__inner .friend-email-empty-error {
	display: none;
  font-size: 12px;
  text-align: center;
  line-height: 1;
  margin-top: 3px;
}

.send-email-modal__inner .email-validation-error.active,
.send-email-modal__inner .email-empty-error.active,
.send-friend-email-modal__inner .friend-email-validation-error.active,
.send-friend-email-modal__inner .friend-email-empty-error.active {
	display: block;
}

.btn-submit-email,
.btn-submit-friend-email {
	display: block;
  text-align: center;
      padding: 8px;
    font-size: 16px;
  margin: 10px auto 0;
  border-radius: 5px;
  color: #DDDDDD;
    border: 1px solid #DDDDDD;
    font-weight: 400;
    align-items: center;
    display: flex;
    justify-content: center;
}

.send-feedback-modal .feedback-rating {
	display: flex;
    align-items: center;
    justify-content: space-between;
}

.send-feedback-modal .feedback-rating li {
	cursor: pointer;
}

.send-feedback-modal .feedback-rating li svg {
	width: 50px;
}

.send-feedback-modal .feedback-rating li.active svg path {
	fill: black;
}

.feedback-content {
	display: none;
}

.feedback-content.open {
	display: block;
}

.btn-submit-feedback {
	display: block;
  text-align: center;
      padding: 8px;
    font-size: 16px;
  margin: 10px auto 0;
  border-radius: 5px;
  color: black;
    border: 1px solid black;
    font-weight: 400;
    align-items: center;
    display: flex;
    justify-content: center;
}

.btn-submit-feedback:hover {
	color: white;
	background-color: black;
}

.send-feedback-modal textarea {
    height: 95px;
    border: 1px solid #AFAFAF;
    border-radius: 4px;
    padding: 12px;
    width: -webkit-fill-available;
    background-color: #F8F8F8;
    margin-top: 30px;
}

.btn-submit-email svg,
.btn-submit-friend-email svg {
	width: 22px;
    margin-right: 5px;
    margin-top: 3px;
}

.btn-submit-email svg path,
.btn-submit-friend-email svg path {
    fill: #dddddd;
}

.btn-submit-email:hover svg path,
.btn-submit-friend-email:hover svg path {
	fill: white !important;
}

.btn-submit-email:hover,
.btn-submit-friend-email:hover {
	color: white !important;
	border-color: black;
	background-color: black;
}

.btn-send-email {
	color: black;
  font-size: 12px;
  letter-spacing: 0.75px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
      border: solid 1px black;
  padding: 3px 7px;
  border-radius: 4px;
	font-weight: 600;
}

.btn-send-email:hover {
	color: black;
}

.btn-send-email img {
	width: 16px;
  margin-right: 5px;
}

.send-email-after-success .horizontal-line,
.send-friend-email-after-success .horizontal-line {
	background-color: #F0F0F2;
    margin-top: 24px;
    margin-bottom: 24px;
    height: 1px;
}

.send-email-after-success a.btn-close,
.send-friend-email-after-success a.btn-close,
.send-feedback-after-success a.btn-close,
.send-friend-email-after-success a.btn-close {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #6FCF97;
    border-radius: 4px;
    color: white;
    text-align: center;
    font-weight: 600;
    font-size: 16px;
    padding: 8px;
    margin-bottom: 20px;
}

.send-email-after-success a.btn-close svg,
.send-email-after-success .btn-email-list svg,
.send-friend-email-after-success a.btn-close svg,
.send-friend-email-after-success .btn-email-list svg {
	width: 22px;
    margin-right: 5px;
}

.send-email-after-success a.btn-close svg path,
.send-friend-email-after-success a.btn-close svg path {
    fill: white;
}

.send-email-after-success .btn-email-list {
	display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 8px;
    font-size: 16px;
    border-radius: 5px;
    color: black;
    border: 1px solid black;
    font-weight: 400;
}

.send-email-after-success .btn-email-list svg path {
	fill: black;
}

.send-email-after-success .btn-email-list:hover {
	background-color: black;
    color: white;
}

.send-email-after-success .btn-email-list:hover svg path {
	fill: white;
}

.send-email-modal__inner .btn-close,
.send-friend-email-modal__inner .btn-close,
.send-feedback-modal__inner .btn-close {
	cursor: pointer;
}


.widget-text {
	font-size: 14px;
	padding-left: 16px;
}

.brand-product {
  padding: 30px 0;
  border-bottom: 1px solid #666666;
}

.brand-infos {
	padding: 0 24px 16px;
	border-bottom: 1px solid #F0F0F2;
}

.brand-logo-title-tag {
	display: flex;
	align-items: center;
}

.brand-logo {
	margin-right: 10px;
	width: 65px;
	height: 65px;
}

.brand-logo img {
	width: 65px;
	height: 65px;
	object-fit: cover;
}

.brand-title-tag h3 {
	font-size: 26px;
  font-weight: 700;
}

.brand-title-tag ul {
	display: flex;
	margin-top: 5px;
}

.brand-title-tag ul li {
	margin-right: 5px;
	font-size: 12px;
	text-transform: uppercase;
	padding: 4px 8px;
	border-radius: 16px;
	font-weight: bold;
}

.brand-product .brand-title-tag ul li {
	color: #FFFFFF;
	letter-spacing: 1;	
}

.brand-text {
	margin-top: 12px;
	font-size: 16px;
}

.product-item {
  margin: 16px 12px;
  display: none;
  border-radius: 10px;
}

.product-item > a:hover .product-img img {
  transform: scale(1.2);
  transition: all 0.15s linear;
}

.product-item.active {
	display: block;
}

.product-items .product-item:first-child {
	display: block;
}

.product-item > a {
	display: grid;
  grid-template-columns: 1fr 1.65fr;
  grid-gap: 12px;
  color: black;
  text-decoration: none;
  border-radius: 10px;
}

.product-img {
	padding: 8px;
	overflow: hidden;
}

.product-img img {
	width: 100%;
	overflow: hidden;
}

.product-text {
	padding: 8px 8px 8px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-title-desc h3 {
	font-size: 20px;
	margin-bottom: 5px;
}

.product-title-desc p {
	font-size: 16px;
	line-height: 1.4;
}

.product-price-arrow {
	display: flex;
  align-items: center;
  justify-content: space-between;
}

.product-price-arrow span {
	font-size: 18px;
  font-weight: bold;
}

.more-products {
	text-align: center;
	padding-top: 16px;
	border-top: 1px solid #F0F0F2;
}

.more-products a {
	color: black;
  font-size: 16px;
  text-decoration: none;
  font-weight: bold;
}

.more-products a img {
	width: 14px;
  margin-left: 8px;
}

.less-products {
	text-align: center;
	border-bottom: 1px solid #F0F0F2;
	background-color: #F0F0F2;
}

.less-products a {
    color: black;
    font-size: 16px;
    text-decoration: none;
    font-weight: 600;
    display: block;
    padding: 16px;
}

.less-products a img {
    transform: rotate(180deg);
    margin-left: 10px;
}

.more-products a.open img {
	transform: rotate(180deg);
}

.email-list {
	padding: 25px 16px;
	border-bottom: 1px solid #DDDDDD;
}

.email-list a {
	text-decoration: none;
	background-color: #2D2D2D;
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: bold;
    border-radius: 4px;
    color: white;
    justify-content: center;
    padding: 11px;
}

.email-list a svg {
	margin-right: 8px;
}

.email-list a svg path {
	fill: white;
}

.community-copyright {
	padding: 20px 16px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.community a {
    display: flex;
    align-items: center;
}

.community a img {
	margin-right: 5px;
}

.community span {
	display: block;
	font-size: 14px;
	color: #666666;
}

.copyright label {
	display: block;
	color: #666666;
	font-size: 12px;
}

.copyright span {
	display: block;
	color: #666666;
	font-size: 32px;
}